/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.idea
/diosdb.tmp/data
/diosdb.tmp/meta
/target/**/*
/project/project/**/*
/project/target/**/*
/scalagoon.iml
